.informationcontainer {
  margin-top: 20rem;
  margin-bottom: 20rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5rem;
  background: hsla(0, 0%, 94.9%, 0.54);
}
.informationcontainer img {
  width: 100%;
}

.company-text {
  color: #706f7b;
  font-weight: 500;
  text-align: center;
  font-size: 1rem;
  margin: 0;
}
.informationcompany {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
@media (max-width: 400px) and (min-width: 240px) {
  .informationcontainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
  .informationcontainer img {
    width: 5rem;
    height: 100%;
  }
  .informationcompany {
    display: flex;
    align-items: center;
  }
  .company-text {
    font-size: 1.3rem;
  }
}
@media (max-width: 768px) and (min-width: 320px) {
  .informationcontainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
  .informationcontainer img {
    width: 5rem;
    height: 100%;
  }
  .informationcompany {
    display: flex;
    align-items: center;
  }
  .company-text {
    font-size: 1.3rem;
  }
}
@media (max-width: 1000px) and (min-width: 769px) {
  .informationcontainer {
    gap: 3rem;
  }
  .informationcontainer img {
    width: 5rem;
    height: 100%;
  }
  .informationcompany {
    display: flex;
    align-items: center;
  }
}
