.mainmencompcontainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.searchbarmaincontainer {
  margin-bottom: 2rem;
}

.mansearchinput {
  width: 9.5rem;
  height: 2rem;
  font-size: 1rem;
  border-color: transparent;
  background-image: url(https://cdn2.hubspot.net/hubfs/4004166/bioticresearch_website_assets/images/search_icon.png);
  background-repeat: no-repeat;
  background-position: right center;
  border: 1px solid #4d4a58;
}
.mencompcontainer {
  height: auto;
  width: 70rem;
}
.manproductrating {
  margin: 0;
}
.mentshirtcontainer {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.mentshirt1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  width: 16rem;
  transition: all 0.3s;
}
.mentshirt-pricediscount {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  text-align: center;
}
.manactualproductprice {
  color: orangered;
  font-weight: 600;
}
.discountpriceline-through {
  color: gray;
  text-decoration: line-through;
}
.menproductthumbnailimg {
  width: 100%;
  height: 21rem;
}
.mentshirt1title p {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.manproductbrandclass {
  color: orangered;
  font-weight: 600;
}
.manand-filtercontainer {
  display: flex;
  flex-direction: row;
}
.mansearchbarcontainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.manfiltermaincontainer {
  border: 1px solid #e6e6e6;
  width: 10rem;
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.manfiltermaincontainer p {
  margin: 0.2rem;
}
.manfiltercategoryp {
  font-weight: 600;
  font-size: 1.3rem;
  text-align: center;
}
.manfiltershoesp {
  font-weight: 300;
}
.manfiltershirtsp {
  font-weight: 300;
}
.manfilterwatchesp {
  font-weight: 300;
}
.mentshirt1:hover {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.262);
  transition: all 0.3s;
}
.mansortingmaincontainer {
  margin-bottom: 1rem;
}
.mansortingcontainer select {
  border-color: gray;
  border-radius: 0.5rem;
  color: black;
  font-weight: 400;
  font-size: 1.2rem;
  height: auto;
  width: 100%;
  padding: 1px 3px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.mansortingcontainer select:hover {
  border-color: orangered;
}
.mansortingcontainer select option:hover {
  border-color: orangered;
}

@media (max-width: 400px) and (min-width: 240px) {
  .manand-filtercontainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .mentshirtcontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
  .mencompcontainer {
    height: auto;
    width: 100%;
  }
  .mentshirt1 {
    width: 30%;
  }
  .menproductthumbnailimg {
    width: 100%;
    height: 10rem;
  }
  .mentshirt1title p {
    margin: 0;
    font-size: 0.8rem;
  }
  .mentshirt-pricediscount {
    margin: 0;
    font-size: 0.8rem;
  }
  .mansearchbarcontainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 0rem;
    align-items: center;
  }
  .mansortingcontainer {
    display: flex;
    justify-content: center;
  }
  .mansortingcontainer select {
    border-color: gray;
    border-radius: 0.5rem;
    color: black;
    font-weight: 400;
    font-size: 0.8rem;
    height: auto;
    width: 10rem;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .mansearchinput {
    width: 10rem;
    height: 2rem;
    font-size: 0.7rem;
    border-color: transparent;
    background-image: url(https://cdn2.hubspot.net/hubfs/4004166/bioticresearch_website_assets/images/search_icon.png);
    background-repeat: no-repeat;
    background-position: right center;
    border: 1px solid #4d4a58;
  }
  .mansearchbarinputandfilter {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }
  .manfiltercardcontainer {
    display: flex;
    justify-content: center;
  }
  .mansortingmaincontainer {
    margin-bottom: 0rem;
  }
}

@media (max-width: 569px) and (min-width: 320px) {
  .manand-filtercontainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .mansortingmaincontainer {
    margin-bottom: 0rem;
  }
  .mentshirtcontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
  .mencompcontainer {
    height: auto;
    width: 100%;
  }
  .mentshirt1 {
    width: 30%;
  }
  .menproductthumbnailimg {
    width: 100%;
    height: 10rem;
  }
  .mentshirt1title p {
    margin: 0;
    font-size: 0.8rem;
  }
  .mentshirt-pricediscount {
    margin: 0;
    font-size: 0.8rem;
  }
  .mansearchbarcontainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 0rem;
  }
  .mansortingcontainer select {
    border-color: gray;
    border-radius: 0.5rem;
    color: black;
    font-weight: 400;
    font-size: 0.8rem;
    height: auto;
    width: 10rem;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .mansearchinput {
    width: 9.8rem;
    height: 2rem;
    font-size: 0.7rem;
    border-color: transparent;
    background-image: url(https://cdn2.hubspot.net/hubfs/4004166/bioticresearch_website_assets/images/search_icon.png);
    background-repeat: no-repeat;
    background-position: right center;
    border: 1px solid #4d4a58;
  }
  .mansearchbarinputandfilter {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }
  .manfiltercardcontainer {
    display: flex;
    justify-content: center;
  }
  .mansearchbarandinput {
    display: flex;
    justify-content: center;
  }
  .mansortingcontainer {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 768px) and (min-width: 570px) {
  .manand-filtercontainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .mentshirtcontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
  .mencompcontainer {
    height: auto;
    width: 100%;
  }
  .mentshirt1 {
    width: 23%;
  }
  .menproductthumbnailimg {
    width: 100%;
    height: 10rem;
  }
  .mentshirt1title p {
    margin: 0;
    font-size: 0.8rem;
  }
  .mentshirt-pricediscount {
    margin: 0;
    font-size: 0.8rem;
  }
  .mansearchbarcontainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 0rem;
  }
  .mansortingcontainer select {
    border-color: gray;
    border-radius: 0.5rem;
    color: black;
    font-weight: 400;
    font-size: 0.8rem;
    height: auto;
    width: 10rem;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .mansearchinput {
    width: 9.8rem;
    height: 2rem;
    font-size: 0.7rem;
    border-color: transparent;
    background-image: url(https://cdn2.hubspot.net/hubfs/4004166/bioticresearch_website_assets/images/search_icon.png);
    background-repeat: no-repeat;
    background-position: right center;
    border: 1px solid #4d4a58;
  }
  .mansearchbarandinput {
    display: flex;
    justify-content: center;
  }
  .mansortingcontainer {
    display: flex;
    justify-content: center;
  }
  .mansearchbarinputandfilter {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }
  .manfiltercardcontainer {
    display: flex;
    justify-content: center;
  }
  .mansortingmaincontainer {
    margin-bottom: 0rem;
  }
}

@media (max-width: 1000px) and (min-width: 769px) {
  .manand-filtercontainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .mentshirtcontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
  .mencompcontainer {
    height: auto;
    width: 100%;
  }
  .mentshirt1 {
    width: 18%;
  }
  .menproductthumbnailimg {
    width: 100%;
    height: 10rem;
  }
  .mentshirt1title p {
    margin: 0;
    font-size: 0.8rem;
  }
  .mentshirt-pricediscount {
    margin: 0;
    font-size: 0.8rem;
  }
  .mansearchbarcontainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 0rem;
  }
  .mansortingcontainer select {
    border-color: gray;
    border-radius: 0.5rem;
    color: black;
    font-weight: 400;
    font-size: 0.8rem;
    height: auto;
    width: 10rem;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .mansearchbarandinput {
    display: flex;
    justify-content: center;
  }
  .mansortingcontainer {
    display: flex;
    justify-content: center;
  }
  .mansearchinput {
    width: 9.8rem;
    height: 2rem;
    font-size: 0.7rem;
    border-color: transparent;
    background-image: url(https://cdn2.hubspot.net/hubfs/4004166/bioticresearch_website_assets/images/search_icon.png);
    background-repeat: no-repeat;
    background-position: right center;
    border: 1px solid #4d4a58;
  }
  .mansearchbarinputandfilter {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
  }
  .mansortingmaincontainer {
    margin-bottom: 0rem;
  }
  .manfiltercardcontainer {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 1148px) and (min-width: 1001px) {
  .manand-filtercontainer {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
  .mentshirtcontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
  .mencompcontainer {
    height: auto;
    width: 100%;
  }
  .mentshirt1 {
    width: 15%;
  }
  .menproductthumbnailimg {
    width: 100%;
    height: 10rem;
  }
  .mentshirt1title p {
    margin: 0;
    font-size: 0.8rem;
  }
  .mentshirt-pricediscount {
    margin: 0;
    font-size: 0.8rem;
  }
  .mansearchbarcontainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 0rem;
  }
  .mansortingcontainer select {
    border-color: gray;
    border-radius: 0.5rem;
    color: black;
    font-weight: 400;
    font-size: 0.8rem;
    height: auto;
    width: 10rem;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .mansearchinput {
    width: 100%;
    height: 2rem;
    font-size: 0.7rem;
    border-color: transparent;
    background-image: url(https://cdn2.hubspot.net/hubfs/4004166/bioticresearch_website_assets/images/search_icon.png);
    background-repeat: no-repeat;
    background-position: right center;
    border: 1px solid #4d4a58;
  }
  .mansearchbarinputandfilter {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
  .mansortingmaincontainer {
    margin-bottom: 0rem;
  }
  .manfiltercardcontainer {
    display: flex;
    justify-content: center;
  }
}
