.mainwomancompcontainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.searchbarmaincontainer {
  margin-bottom: 2rem;
}

.womancompcontainer {
  height: auto;
  width: 70rem;
}
.womantshirt1 img {
  width: 100%;
  height: 21rem;
}
.womantshirtcontainer {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  flex-wrap: wrap;
}
.womantshirt1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  width: 16rem;
}
.womantshirt-pricediscount {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  text-align: center;
}
.actualproductprice {
  color: orangered;
  font-weight: 500;
}
.discountpriceline-through {
  color: gray;
  text-decoration: line-through;
}
.womantshirt1title p {
  text-align: center;
  font-weight: 500;
}
.productbrandclass {
  color: gray;
  font-weight: 500;
}
.womanand-filtercontainer {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.womansearchbarcontainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.womanfiltermaincontainer {
  text-align: center;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  width: 100%;
  height: 100%;
}
.womanfiltercategoryp {
  font-weight: 600;
  font-size: 1.3rem;
}
.womanfilterdressesp {
  font-weight: 300;
}

.womanfilterwatchesp {
  font-weight: 300;
}
.womanfilterbagsp {
  font-weight: 300;
}
.womanfiltershoesp {
  font-weight: 300;
}
.womanfiltermaincontainer p {
  margin: 0.2rem;
}
