.mainkidcompcontainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.searchbarmaincontainer {
  margin-bottom: 2rem;
}

.searchinput {
  width: 20rem;
  height: 2rem;
  font-size: 1rem;
  background-color: #ececec;
  border-width: 1px;
  border-color: transparent;
  background-image: url(https://cdn2.hubspot.net/hubfs/4004166/bioticresearch_website_assets/images/search_icon.png);
  background-repeat: no-repeat;
  background-position: right center;
}
.kidcompcontainer {
  height: auto;
  width: 70rem;
}
.kidtshirt1 img {
  width: 100%;
  height: 21rem;
}
.kidtshirtcontainer {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  flex-wrap: wrap;
}
.kidtshirt1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  width: 16rem;
}
.kidtshirt-pricediscount {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  text-align: center;
}
.actualproductprice {
  color: orangered;
  font-weight: 500;
}
.discountpriceline-through {
  color: gray;
  text-decoration: line-through;
}
.kidtshirt1title p {
  text-align: center;
  font-weight: 500;
}
.productbrandclass {
  color: gray;
  font-weight: 500;
}
