.mainkidcompcontainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  margin-bottom: 2rem;
}

.searchinput {
  width: 9.5rem;
  height: 2rem;
  font-size: 1rem;
  border-color: transparent;
  background-image: url(https://cdn2.hubspot.net/hubfs/4004166/bioticresearch_website_assets/images/search_icon.png);
  background-repeat: no-repeat;
  background-position: right center;
  border: 1px solid #4d4a58;
}

.kidcompcontainer {
  height: auto;
  width: 70rem;
}
.kidproductrating {
  margin: 0;
}
.productthumbnailimg {
  width: 100%;
  height: 21rem;
}
.kidtshirtcontainer {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.kidtshirt1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  width: 16rem;
  transition: all 0.3s;
}
.kidtshirt-pricediscount {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  text-align: center;
}
.kidactualproductprice {
  color: orangered;
  font-weight: 600;
}
.discountpriceline-through {
  color: gray;
  text-decoration: line-through;
}
.kidtshirt1title p {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.kidproductbrandclass {
  color: orangered;
  font-weight: 600;
}
.kid-and-filtercontainer {
  display: flex;
  flex-direction: row;
}
.filtermaincontainer {
  border: 1px solid #e6e6e6;
  width: 10rem;
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.filtermaincontainer p {
  margin: 0.3rem;
}

.filtercategoryp {
  font-weight: 600;
  font-size: 1.3rem;
  text-align: center;
}
.filtershoesp {
  font-weight: 300;
}
.filterbagsp {
  font-weight: 300;
}
.searchbarcontainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.kidtshirt1:hover {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.262);
  transition: all 0.3s;
}
.kidsortingmaincontainer {
  margin-bottom: 1rem;
}
.kidsortingcontainer select {
  border-color: gray;
  border-radius: 0.5rem;
  color: black;
  font-weight: 400;
  font-size: 1.2rem;
  height: auto;
  width: 100%;
  padding: 1px 3px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.kidsortingcontainer select:hover {
  border-color: orangered;
}
.kidsortingcontainer select option:hover {
  border-color: orangered;
}

@media (max-width: 400px) and (min-width: 240px) {
  .kid-and-filtercontainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .kidtshirtcontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
  .kidcompcontainer {
    height: auto;
    width: 100%;
  }
  .kidtshirt1 {
    width: 30%;
  }
  .productthumbnailimg {
    width: 100%;
    height: 10rem;
  }
  .kidtshirt1title p {
    margin: 0;
    font-size: 0.8rem;
  }
  .kidtshirt-pricediscount {
    margin: 0;
    font-size: 0.8rem;
  }
  .searchbarcontainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 0rem;
    align-items: center;
  }
  .kidsortingcontainer {
    display: flex;
    justify-content: center;
  }
  .kidsortingcontainer select {
    border-color: gray;
    border-radius: 0.5rem;
    color: black;
    font-weight: 400;
    font-size: 0.8rem;
    height: auto;
    width: 10rem;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .searchinput {
    width: 9.8rem;
    height: 2rem;
    font-size: 0.7rem;
    border-color: transparent;
    background-image: url(https://cdn2.hubspot.net/hubfs/4004166/bioticresearch_website_assets/images/search_icon.png);
    background-repeat: no-repeat;
    background-position: right center;
    border: 1px solid #4d4a58;
  }
  .searchbarinputandfilter {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }
  .filtercardcontainer {
    display: flex;
    justify-content: center;
  }
  .kidsortingmaincontainer {
    margin-bottom: 0rem;
  }
}

@media (max-width: 569px) and (min-width: 320px) {
  .kid-and-filtercontainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .kidsortingmaincontainer {
    margin-bottom: 0rem;
  }
  .kidtshirtcontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
  .kidcompcontainer {
    height: auto;
    width: 100%;
  }
  .kidtshirt1 {
    width: 30%;
  }
  .productthumbnailimg {
    width: 100%;
    height: 10rem;
  }
  .kidtshirt1title p {
    margin: 0;
    font-size: 0.8rem;
  }
  .kidtshirt-pricediscount {
    margin: 0;
    font-size: 0.8rem;
  }
  .searchbarcontainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 0rem;
  }
  .kidsortingcontainer select {
    border-color: gray;
    border-radius: 0.5rem;
    color: black;
    font-weight: 400;
    font-size: 0.8rem;
    height: auto;
    width: 10rem;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .searchinput {
    width: 9.8rem;
    height: 2rem;
    font-size: 0.7rem;
    border-color: transparent;
    background-image: url(https://cdn2.hubspot.net/hubfs/4004166/bioticresearch_website_assets/images/search_icon.png);
    background-repeat: no-repeat;
    background-position: right center;
    border: 1px solid #4d4a58;
  }
  .searchbarinputandfilter {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }
  .filtercardcontainer {
    display: flex;
    justify-content: center;
  }
  .searchbarandinput {
    display: flex;
    justify-content: center;
  }
  .kidsortingcontainer {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 768px) and (min-width: 570px) {
  .kid-and-filtercontainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .kidtshirtcontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
  .kidcompcontainer {
    height: auto;
    width: 100%;
  }
  .kidtshirt1 {
    width: 23%;
  }
  .productthumbnailimg {
    width: 100%;
    height: 10rem;
  }
  .kidtshirt1title p {
    margin: 0;
    font-size: 0.8rem;
  }
  .kidtshirt-pricediscount {
    margin: 0;
    font-size: 0.8rem;
  }
  .searchbarcontainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 0rem;
  }
  .kidsortingcontainer select {
    border-color: gray;
    border-radius: 0.5rem;
    color: black;
    font-weight: 400;
    font-size: 0.8rem;
    height: auto;
    width: 10rem;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .searchinput {
    width: 9.8rem;
    height: 2rem;
    font-size: 0.7rem;
    border-color: transparent;
    background-image: url(https://cdn2.hubspot.net/hubfs/4004166/bioticresearch_website_assets/images/search_icon.png);
    background-repeat: no-repeat;
    background-position: right center;
    border: 1px solid #4d4a58;
  }
  .searchbarandinput {
    display: flex;
    justify-content: center;
  }
  .kidsortingcontainer {
    display: flex;
    justify-content: center;
  }
  .searchbarinputandfilter {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }
  .filtercardcontainer {
    display: flex;
    justify-content: center;
  }
  .kidsortingmaincontainer {
    margin-bottom: 0rem;
  }
}

@media (max-width: 1000px) and (min-width: 769px) {
  .kid-and-filtercontainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .kidtshirtcontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
  .kidcompcontainer {
    height: auto;
    width: 100%;
  }
  .kidtshirt1 {
    width: 18%;
  }
  .productthumbnailimg {
    width: 100%;
    height: 10rem;
  }
  .kidtshirt1title p {
    margin: 0;
    font-size: 0.8rem;
  }
  .kidtshirt-pricediscount {
    margin: 0;
    font-size: 0.8rem;
  }
  .searchbarcontainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 0rem;
  }
  .kidsortingcontainer select {
    border-color: gray;
    border-radius: 0.5rem;
    color: black;
    font-weight: 400;
    font-size: 0.8rem;
    height: auto;
    width: 10rem;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .searchbarandinput {
    display: flex;
    justify-content: center;
  }
  .kidsortingcontainer {
    display: flex;
    justify-content: center;
  }
  .searchinput {
    width: 9.8rem;
    height: 2rem;
    font-size: 0.7rem;
    border-color: transparent;
    background-image: url(https://cdn2.hubspot.net/hubfs/4004166/bioticresearch_website_assets/images/search_icon.png);
    background-repeat: no-repeat;
    background-position: right center;
    border: 1px solid #4d4a58;
  }
  .searchbarinputandfilter {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
  }
  .kidsortingmaincontainer {
    margin-bottom: 0rem;
  }
  .filtercardcontainer {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 1148px) and (min-width: 1001px) {
  .kid-and-filtercontainer {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
  .kidtshirtcontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
  .kidcompcontainer {
    height: auto;
    width: 100%;
  }
  .kidtshirt1 {
    width: 15%;
  }
  .productthumbnailimg {
    width: 100%;
    height: 10rem;
  }
  .kidtshirt1title p {
    margin: 0;
    font-size: 0.8rem;
  }
  .kidtshirt-pricediscount {
    margin: 0;
    font-size: 0.8rem;
  }
  .searchbarcontainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 0rem;
  }
  .kidsortingcontainer select {
    border-color: gray;
    border-radius: 0.5rem;
    color: black;
    font-weight: 400;
    font-size: 0.8rem;
    height: auto;
    width: 10rem;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .searchinput {
    width: 100%;
    height: 2rem;
    font-size: 0.7rem;
    border-color: transparent;
    background-image: url(https://cdn2.hubspot.net/hubfs/4004166/bioticresearch_website_assets/images/search_icon.png);
    background-repeat: no-repeat;
    background-position: right center;
    border: 1px solid #4d4a58;
  }
  .searchbarinputandfilter {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
  .kidsortingmaincontainer {
    margin-bottom: 0rem;
  }
  .filtercardcontainer {
    display: flex;
    justify-content: center;
  }
}
